.wrapper {
    display: flex;
    align-content: center;
}

.wrapper, .wrapper > input, .wrapper button {
    outline: none;
    border: none;
}

.wrapper, .wrapper > input {
    height: 40px;
}

.wrapper > input {
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    background-color: #0a1432;
    color: #b8bbc2;
}

.wrapper button, .wrapper img {
    height: 100%;
}

.wrapper button {
    cursor: pointer;
    transition-duration: 0.3s;
}

.wrapper button:hover {
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #0196bd;
}