.Footer {
    background-color: #030b26;
    display: flex;
    padding: 20px 8vw;
    align-items: center;
    justify-content: space-between;
}

.Footer > div {
    display: flex;
    align-items: center;
}