.HomePage {
    height: 90vh;
    background-image: url("../../assets/homePageBG.png");
    background-size: cover;
}

.overlay {
    margin-top: 10vh;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    position: relative;
    z-index: 2;
    padding-top: 20vh;
    padding-left: 8vw;
    color: #b8bbc2;
}

.content > h1 {
    font-size: 50px;
}

.content > p {
    font-size: 30px;
}

.content > button {
    width: 200px;
    background-color: #030b26;
    font-size: 26px;
    color: #0196bd;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.content > button:hover {
    color: #b8bbc2;
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.75);
}