.PaginatorContainer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.PaginatorContainer button {
    outline: none;
    border-style: solid;
    border-width: 2px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: inherit;
    cursor: pointer;
    transition-duration: 0.5s;
}

.sectionDark {
    color: #0196bd;
}

.sectionLight {
    color: #030b26;
}

button[disabled] {
    color: red;
}

button:hover {
    color: snow;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #0196bd;
}

button[disabled]:hover {
    color: red;
    text-shadow: none;
}

.active {
    text-decoration: underline;
}